<div class="row">
    <div class="col">
        {% if art.src-hv %}
        <div class="img-wrapper hv-wrapper">
        {% elsif art.src-bg-l %}
        <div class="img-wrapper duo-hv-wrapper">
        {% else %}
        <div class="img-wrapper">
        {% endif %}
            {% if art.src-bg %}
            <img class="img bg nosize" src="/assets/img/characters/{{ art.src-bg }}" style="z-index: {{ art.z-src-bg }}">
            {% endif %}
            {% if art.src-bg-l %}
            <img class="img bg hv nosize bg-l" src="/assets/img/characters/{{ art.src-bg-l }}" style="z-index: {{ art.z-src-bg-l }}">
            <img class="img bg hv nosize bg-r" src="/assets/img/characters/{{ art.src-bg-r }}" style="z-index: {{ art.z-src-bg-r }}">
            {% endif %}
            {% if art.src-l %}
            <img class="img silhouette non-hv ch-l" src="/assets/img/characters/{{ art.src-l }}" style="z-index: {{ art.z-src-l }}; {% if art.style %}{{ art.style }}{% endif %}">
            <img class="img silhouette non-hv nosize ch-r" src="/assets/img/characters/{{ art.src-r }}" style="z-index: {{ art.z-src-r }}">
            {% else %}
            <img class="img silhouette non-hv" src="/assets/img/characters/{{ art.src }}" {% if art.style %}style="{{ art.style }}"{% endif %}>
            {% endif %}
            {% if art.src-hv %}
            <img class="img silhouette hv nosize" src="/assets/img/characters/{{ art.src-hv }}">
            {% endif %}
        </div>
    </div>
</div>
<h2><small>Art by </small><b>{{ art.artist }}</b>{% if art.src-hv or art.src-bg-l %} <img class="img" src="/assets/img/icons/images.svg" style="filter: brightness(0) invert(0.6); height: 48px">{% endif %}</h2>