---
layout: IN20th
title: 동방영야초 20주년 합작
lang: ko
---

<!-- Loading -->
<div id="loading">
    <div class="spinner-border text-secondary" role="status"></div>
    <p>Please wait warmly...</p>
</div>

<!-- Video -->
<video id="bg-video" autoplay muted loop>
    <source src="" type="video/webm">
</video>
<video id="bg-video-2" autoplay muted loop>
    <source src="" type="video/webm">
</video>

<!-- Title -->
<div class="row" id="title">
    <div class="col" style="margin-top: 10vh;">
        <p>괜찮다면 스크롤을 내리기 전에 음악을 재생해 주세요.</p>
        <audio id="bgm" src="/assets/audio/cirno.mp3" loop controls controlslist="nodownload noplaybackrate"></audio>
        <h3>~ 배경음악제목 ~</h3>
        <h4>원곡: <span class="ja glow">竹取飛翔 ～ Lunatic Princess</span><br>
            편곡: <span class="glow"><a href="https://x.com/5minutejamms" target="_blank">E3</a></span>
        </h4>
    </div>
</div>

<div class="img-wrapper">
    <div class="slide-up slide-up-bgm nosize">
        <img src="/assets/img/IN20th-Logo-BG.png">
    </div>
    <img class="appear" src="/assets/img/IN20th-Logo-Lt.png" style="width: 2000px; height: auto">
</div>

<div class="row">
    <p>어서 오세요.<br>2004년 8월 출시된 동방 프로젝트 8번째 정규작 <b>동방영야초</b>의 20주년을 기념하는 일러스트 합작입니다.
    <div class="alert alert-dark">이 사이트는 <img src="/assets/img/icons/browser-chrome.svg" style="filter: brightness(0) invert(0.6); padding-bottom: 5px"> Chrome에서의 열람에 최적화되어 있습니다.</div>
    <div class="alert alert-dark">커서를 올리면 변하는 그림이 있습니다. <img src="/assets/img/icons/images.svg" style="filter: brightness(0) invert(0.6); padding-bottom: 5px"> 아이콘을 확인하세요.</div>
</div>

<hr class="margin-bottom">

<!-- Reimu & Yukari -->
<div id="team-boundary">
{% for art in site.data.art-team-boundary %}
<div class="container slide-up margin-bottom team-boundary">
    {% include team-boundary.html %}
    <p class="margin-bottom team-boundary-random-line"></p>
</div>
{% endfor %}
</div>

<hr class="margin-bottom">

<!-- Marisa & Alice -->
<div id="team-magic">
    {% for art in site.data.art-team-magic %}
    <div class="container slide-up margin-bottom team-magic">
        {% include team-magic.html %}
        <p class="margin-bottom team-magic-random-line"></p>
    </div>
    {% endfor %}
</div>

<hr class="margin-bottom">

<!-- Sakuya & Remilia -->
<div id="team-scarlet">
    {% for art in site.data.art-team-scarlet %}
    <div class="container slide-up margin-bottom team-scarlet">
        {% include team-scarlet.html %}
        <p class="margin-bottom team-scarlet-random-line"></p>
    </div>
    {% endfor %}
</div>

<hr class="margin-bottom">

<!-- Youmu & Yuyuko -->
<div id="team-ghost">
    {% for art in site.data.art-team-ghost %}
    <div class="container slide-up margin-bottom team-ghost">
        {% include team-ghost.html %}
        <p class="margin-bottom team-ghost-random-line"></p>
    </div>
    {% endfor %}
</div>

<!-- Stage 1 -->
<div id="stage-1">
    <hr class="margin-top-2">
    <div class="container dark-aura slide-up">
        <h3>Stage 1: 반딧불이의 행방</h3>
        <p>반딧불이 평소보다 강렬해 보이는 것은 기분 탓일까.<br>오늘 밤은 긴 밤이 될 것이다.</p>
    </div>
    <hr class="margin-bottom">

    <!-- Wriggle -->
    {% for art in site.data.art-Wriggle %}
    <div class="container slide-up" id="Wriggle">
        <h4 style="margin-bottom: 0"><i>어둠 속에서 꿈틀대는 빛의 벌레</i></h4>
        <h2 class="b scale-x" style="color: rgb(120, 180, 140); text-shadow: 4px 4px 5px rgb(120, 180, 140)">리글 나이트버그<br><img src="/assets/img/calligraphy/Calligraphy-Wriggle.png" class="calligraphy" style="filter: drop-shadow(2px 2px 5px rgb(120, 180, 140))"></h2>
        {% include img_container.html %}
        <blockquote class="margin-bottom Wriggle-random-line"></blockquote>
    </div>
    {% endfor %}
</div>

<!-- Stage 2 -->
<div id="stage-2">
    <hr class="margin-top-2">
    <div class="container dark-aura slide-up">
        <h3>Stage 2: 인간이 사라지는 길</h3>
        <p>인간이 다니는 길이라 해도, 한밤중에 지나는 것은 짐승이나 요괴뿐.<br>인간의 모습이 보일 일은 없다.</p>
    </div>
    <hr class="margin-bottom">

    <!-- Mystia -->
    {% for art in site.data.art-Mystia %}
    <div class="container slide-up" id="Mystia">
        <h4 style="margin-bottom: 0"><i>요스즈메 요괴</i></h4>
        <h2 class="b scale-x" style="color: rgb(240, 140, 140); text-shadow: 4px 4px 5px rgb(240, 140, 140)">미스티아 로렐라이</h2>
        <img src="/assets/img/calligraphy/Calligraphy-Mystia.png" class="calligraphy" style="filter: drop-shadow(2px 2px 5px #f08c8c)">
        {% include img_container.html %}
        <blockquote class="margin-bottom Mystia-random-line"></blockquote>
    </div>
    {% endfor %}
</div>

<!-- Stage 3 -->
<div id="stage-3">
    <hr class="margin-top-2">
    <div class="container dark-aura slide-up">
        <h3>Stage 3: 역사를 먹는 자의 <a data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="고향을 그리워하는 마음"><ruby>회향<rt class="ja">懐郷</rt></ruby></a></h3>
        <p>한 갈래 길의 저편에는 인간들이 사는 작은 마을이 있다.<br>그러나 마을이 있어야 할 곳에는, 아무것도 없었다.</p>
    </div>
    <hr class="margin-bottom">

    <!-- Keine -->
    {% for art in site.data.art-Keine %}
    <div class="container slide-up" id="Keine">
        <h4 style="margin-bottom: 0"><i>지식과 역사의 반수</i></h4>
        <h2 class="b scale-x" style="color: rgb(160, 160, 250); text-shadow: 4px 4px 5px rgb(160, 160, 250)">카미시라사와 <span style="color: rgb(120, 200, 120); text-shadow: 4px 4px 5px rgb(120, 200, 120)">케이네</span></h2>
        {% include img_container.html %}
        <blockquote class="margin-bottom Keine-random-line"></blockquote>
    </div>
    {% endfor %}
</div>

<!-- Stage 4A -->
<div id="stage-4A">
    <hr class="margin-top-2">
    <div class="container dark-aura slide-up">
        <h3><ruby>Stage 4<rt><a data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="기이한, 소름끼치는">uncanny</rt></a></rt></ruby>: 전설 속 꿈의 나라</h3>
        <p>달빛 아래 대나무의 나라는 꿈처럼 기이해 보였다.<br>대나무가 금방이라도 요사스럽게 빛날 것만 같다.</p>
    </div>
    <hr class="margin-bottom">

    <!-- Reimu -->
    {% for art in site.data.art-Reimu %}
    <div class="container slide-up" id="Reimu">
        <h4 style="margin-bottom: 0"><i>낙원의 멋진 무녀</i></h4>
        <h2 class="b scale-x" style="color: rgb(250, 140, 160); text-shadow: 4px 4px 5px rgb(250, 140, 160)">하쿠레이 레이무</h2>
        <img src="/assets/img/calligraphy/Calligraphy-Reimu.png" class="calligraphy" style="filter: drop-shadow(2px 2px 5px #fa8ca0)">
        {% include img_container.html %}
        <blockquote class="margin-bottom Reimu-random-line"></blockquote>
    </div>
    {% endfor %}
</div>

<!-- Stage 04B -->
<div id="stage-4B">
    <hr class="margin-top-2">
    <div class="container dark-aura slide-up">
        <h3><ruby>Stage 4<rt>powerful</rt></ruby>: 마력을 머금은 땅 아래</h3>
        <p>튼튼한 대나무 아래에는 더욱 강한 뿌리가 뻗어 있다.<br>겉만을 알아보는 자는 어리석은 인요뿐이다.</p>
    </div>
    <hr class="margin-bottom">

    <!-- Marisa -->
    {% for art in site.data.art-Marisa %}
    <div class="container slide-up" id="Marisa">
        <h4 style="margin-bottom: 0"><i>평범한 흑마술 소녀</i></h4>
        <h2 class="b scale-x" style="color: rgb(250, 230, 190); text-shadow: 4px 4px 5px rgb(250, 230, 190)">키리사메 마리사</h2>
        <img src="/assets/img/calligraphy/Calligraphy-Marisa.png" class="calligraphy" style="filter: drop-shadow(2px 2px 5px #fae6be)">
        {% include img_container.html %}
        <blockquote class="margin-bottom Marisa-random-line"></blockquote>
    </div>
    {% endfor %}
</div>

<!-- Stage 5 -->
<div id="stage-5">
    <hr class="margin-top-2">
    <div class="container dark-aura slide-up">
        <h3>Stage 5: 더러운 세상의 아름다운 감옥</h3>
        <p>"더러운 땅에 어찌 오래 머물 수 있으랴."<br>그러자, 닫혀 있던 문은 남김없이 열리고―</p>
    </div>
    <hr class="margin-bottom">

    <!-- Tewi -->
    {% for art in site.data.art-Tewi %}
    <div class="container slide-up" id="Tewi">
        <h4 style="margin-bottom: 0"><i>지상의 토끼</i></h4>
        <h2 class="b scale-x" style="color: rgb(250, 190, 190); text-shadow: 4px 4px 5px rgb(250, 190, 190)">이나바 테위</h2>
        <img src="/assets/img/calligraphy/Calligraphy-Tewi.png" class="calligraphy" style="filter: drop-shadow(2px 2px 5px #fabebe)">
        {% include img_container.html %}
        <blockquote class="margin-bottom Tewi-random-line"></blockquote>
    </div>
    {% endfor %}
    <hr class="margin-bottom">

    <!-- Udongein -->
    {% for art in site.data.art-Udongein %}
    <div class="container slide-up" id="Udongein">
        <h4 style="margin-bottom: 0"><i>광기의 달토끼</i></h4>
        <h2 class="b scale-x" style="color: rgb(200, 160, 230); text-shadow: 4px 4px 5px rgb(200, 160, 230)">레이센 우동게인 이나바</h2>
        {% include img_container.html %}
        <blockquote class="margin-bottom Udongein-random-line"></blockquote>
    </div>
    {% endfor %}
</div>

<!-- Stage 6B -->
<div id="stage-6B">
    <hr class="margin-top-2">
    <div class="container dark-aura slide-up">
        <h3>Stage 6: 다섯 가지 난제</h3>
        <p>풀 수 없는 다섯 개의 난제.<br>허나 기나긴 세월과 환상의 힘은 문제들을 풀기에 충분했다.</p>
    </div>
    <hr class="margin-bottom">

    <!-- Eirin -->
    {% for art in site.data.art-Eirin %}
    <div class="container slide-up" id="Eirin">
        <h4 style="margin-bottom: 0"><i>달의 두뇌</i></h4>
        <h2 class="b scale-x" style="color: rgb(200, 120, 120); text-shadow: 4px 4px 5px rgb(200, 120, 120)">야고코로 <span style="color: rgb(120, 120, 200); text-shadow: 4px 4px 5px rgb(120, 120, 200)">에이린</span></h2>
        <img src="/assets/img/calligraphy/Calligraphy-Eirin.png" class="calligraphy" style="filter: drop-shadow(2px 2px 5px #7878c8)">
        {% include img_container.html %}
        <blockquote class="margin-bottom Eirin-random-line"></blockquote>
    </div>
    {% endfor %}
    <hr class="margin-bottom">

    <!-- Kaguya -->
    {% for art in site.data.art-Kaguya %}
    <div class="container slide-up" id="Kaguya">
        <h4 style="margin-bottom: 0"><i>영원과 수유의 죄인</i></h4>
        <h2 class="b scale-x" style="color: rgb(220, 120, 120); text-shadow: 4px 4px 5px rgb(220, 120, 120)">호라이산 카구야</h2>
        {% include img_container.html %}
        <blockquote class="margin-bottom Kaguya-random-line"></blockquote>
    </div>
    {% endfor %}
</div>

<!-- Stage EX -->
<div id="stage-EX">
    <hr class="margin-top-2">
    <div class="container dark-aura slide-up">
        <h3>Extra: 봉래인형</h3>
        <p>만월 아래, 초목도 잠든 <a data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="오전 2시">축시 3각</a>.<br>
            인요의 담력 시험은 대체 무엇을 두려워하는가?<br>가장 큰 대죄의 희생자는 대체 어디에 있는가?</p>
    </div>
    <hr class="margin-bottom">

    <!-- Mokou -->
    {% for art in site.data.art-Mokou %}
    <div class="container slide-up" id="Mokou">
        <h4 style="margin-bottom: 0"><i>봉래의 인형</i></h4>
        <h2 class="b scale-x" style="color: rgb(250, 100, 100); text-shadow: 4px 4px 5px rgb(250, 100, 100)"><span style="color: rgb(230, 230, 230); text-shadow: 4px 4px 5px rgb(230, 230, 230)">후지와라노</span> 모코우</h2>
        {% include img_container.html %}
        <blockquote class="margin-bottom Mokou-random-line"></blockquote>
    </div>
    {% endfor %}
</div>

<hr class="margin-bottom">

<!-- Contributors -->
<div class="container" id="contributors">
    <h2>Thanks to</h2>
    <div class="row row-cols-2">
        <div class="col slide-up-persist">
            <img class="img-fluid dark-aura" src="/assets/img/profile/Dayeon.png" style="width: 96px">
            <h3><b>다연</b></h3>
            <p>로고 디자인</p>
        </div>
        <div class="col slide-up-persist">
            <img class="img-fluid dark-aura" src="/assets/img/profile/E3.png" style="width: 96px">
            <h3><a href="https://x.com/5minutejamms" target="_blank"><b>E3</b></a></h3>
            <p>배경 음악 편곡</p>
        </div>
        <div class="col slide-up-persist">
            <img class="img-fluid dark-aura" src="/assets/img/profile/Dai_karasu.png" style="width: 96px">
            <h3><a href="https://www.youtube.com/@Dai_karasu" target="_blank"><b>Dai Karasu</b></a></h3>
            <p>배경 영상</p>
        </div>
        {% for artist in site.data.contributor %}
        <div class="col slide-up-persist">
            <img class="img-fluid dark-aura" src="/assets/img/profile/{{ artist.handle }}.png" style="width: 96px">
            <h3><b><a target="_blank" href="https://x.com/{{ artist.handle }}">{{ artist.name }}</a></b></h3>
            <p>{{ artist.work }}</p>
        </div>
        {% endfor %}
    </div>
    <div>
        <h3 class="slide-up-persist"><small>and </small><b>You</b></h3>
        <h4 class="right"><a data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="?">Next Night…</a></h4>
    </div>
</div>
<hr class="margin-bottom">

<!-- Epilogue -->
<div class="container">
    <div class="row">
        <div class="col">
            <h2>끝</h2>
            <p style="font-family: 'Diphylleia', serif;">🌕 °˖✧◝(◠ᗜ◠)◜✧˖° 🐰<br>
                프로젝트에 참여해 주신 분들과 이곳까지 찾아와 주신 분들께 다시 한 번 감사드립니다.<br>
                봉래제에서 만나요.<br>
                <span style="margin-left: 200px">― 레븨 올림</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>영야초 출시,</h4>
            <h2><span id="d-day" class="dark-aura">?</span></h2>
        </div>
        <div class="col">
            <h4>영야초 출시 20주년,</h4>
            <h2><span id="d-day-20" class="dark-aura">?</span></h2>
        </div>
    </div>
</div>

<!-- Footer -->
<hr class="margin-top">
<div class="container">
    <div class="row">
        <div class="col" style="text-align: left">
            <button type="button" class="btn btn-outline-light" onclick="scrollToTop()">처음으로</button>
        </div>
        <div class="col" style="text-align: right">
            <h4>동방영야초 20주년 합작</h4>
            <p>주최 및 문의처: <a href="https://x.com/Wrevhy" target="_blank">@Wrevhy</a><br>
                원작: <a class="ja" href="https://touhou-project.news/" target="_blank">東方プロジェクト by
                    上海アリス幻樂団</a>
            </p>
        </div>
    </div>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('team-boundary')">결계조</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('team-magic')">영창조</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('team-scarlet')">홍마조</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('team-ghost')">명계조</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('stage-1')">01</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('Wriggle')">리글</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('stage-2')">02</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('Mystia')">미스치</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('stage-3')">03</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('Keine')">케이네</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('stage-4A')">04A</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('Reimu')">레이무</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('stage-4B')">04B</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('Marisa')">마리사</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('stage-5')">05</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('Tewi')">테위</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('Udongein')">우동게</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('stage-6B')">06</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('Eirin')">에링</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('stage-EX')">EX</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('Kaguya')">카구야</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" onclick="scrollToSection('Mokou')">모코</a></li>
        </ol>
    </nav>
</div>