html, body {
    text-align: center;
    overflow-x: hidden;
    word-break: keep-all;
    font-optical-sizing: auto;
    font-family: "Hahmlet", serif;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 12.5%, transparent 12.5%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 62.5%, transparent 62.5%, transparent 100%);
    background-size: 8px 8px;
    background-attachment: fixed;
    pointer-events: none;
    z-index: -2;
}

h1, h2, h3 {
    font-family: "Diphylleia", serif;
    text-shadow: 2px 2px 6px white;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.4em;
}

blockquote {
    display: inline-block;
    font-style: italic;
}
blockquote::before, blockquote::after {
    font-size: 2em;
    opacity: 0.5;
}
blockquote::before {
    content: '❝';
    margin-left: 4px;
    margin-right: 4px;
}
blockquote::after {
    content: '❞';
    margin-left: 4px;
    margin-right: 4px;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: #aaf;
    text-decoration: underline dashed 1px;
    text-underline-offset: 0.2em;
}

// Class

.ja {
    font-family: "Hina Mincho", serif;
}

.b {
    font-weight: bold;
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}

.tooltip {
    word-break: keep-all;
}

.glow {
    text-shadow: 2px 2px 6px white;
}

.verbose {
    color: rgba(255, 255, 255, 0.6);
}

.no-shadow {
    text-shadow: none;
}

.margin-top {
    margin-top: 30vh;
}
.margin-top-2 {
    margin-top: 60vh;
}
.margin-bottom {
    margin-bottom: 30vh;
}

.scale-x {
    position: relative;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: center;
    transition: opacity 2s ease-in-out, transform 1s ease-in-out;
}
.left-in {
    transform: translateX(-100vw);
    transition: transform 1s ease-in-out;
}
.right-in {
    transform: translateX(100vw);
    transition: transform 1s ease-in-out;
}

.slide-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}
.slide-up.visible {
    opacity: 1;
    transform: translateY(0);
}
.slide-up-persist {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}
.slide-up-persist.visible {
    opacity: 1;
    transform: translateY(0);
}
.slide-up-bgm {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 5s ease-in-out, transform 5s ease-out;
}
.slide-up-bgm.visible {
    opacity: 1;
    transform: translateY(0);
}

.dark-aura {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow:  0 0 20px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

// Image

.img-wrapper {
    position: relative;
}
.img-wrapper img {
    position: relative;
    transition: filter 2s ease-in-out, opacity 1s ease-in-out;
    max-width: 100%;
    object-fit: contain;
}
.img-wrapper .nosize {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.img-wrapper img.bg {
    z-index: -1;
}
.img-wrapper img.silhouette {
    filter: brightness(0);
}
.hv-wrapper img.hv, .duo-hv-wrapper img.hv {
    opacity: 0;
}
img.calligraphy {
    width: 200px;
    max-width: 30vw;
}
img.appear {
    opacity: 0;
    transition: opacity 3s ease-out;
}

// ID

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(14, 14, 16);
    z-index: 9990;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#bg-video, #bg-video-2 {
    position: fixed;
    opacity: 0;
    z-index: -3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    height: 100vh;
    filter: saturate(30%);
    transition: opacity 3s ease-in-out;
}

// Override

.container {
    max-width: 1000px;
}

.alert-dark {
    --bs-alert-bg: rgba(0, 0, 0, 0.2);
}
